__pycache__/
*.pyc
*.pyo

# -------------------------------
# Virtual Environment
# -------------------------------
venv/
env/

# -------------------------------
# VS Code Settings
# -------------------------------
.vscode/

# -------------------------------
# System Files
# -------------------------------
.DS_Store
Thumbs.db